recursive-include src
recursive-include bin
recursive-include conf
recursive-include modules
recursive-include submodules
include CITATION.cff
include LICENSE
include VERSION
include README.md
include main.nf
include nextflow.conf
exclude *.py[ocd]
