recursive-include assets
recursive-include bin
recursive-include conf
recursive-include lib
recursive-include modules
recursive-include src
recursive-include submodules
recursive-include tests
include CITATION.cff
include LICENSE
include main.nf
include nextflow.conf
include README.md
include VERSION
exclude *.py[ocd]
