
params {
    config_profile_description = 'Biowulf nf-core config'
    config_profile_contact = 'staff@hpc.nih.gov'
    config_profile_url = 'https://hpc.nih.gov/apps/nextflow.html'
    max_memory = '224 GB'
    max_cpus = 32
    max_time = '72 h'

    igenomes_base = '/fdb/igenomes/'

    // CCBR shared resource paths
    index_dir = '/data/CCBR_Pipeliner/db/PipeDB/Indices'

    fastq_screen_conf = "${projectDir}/assets/fastq_screen_biowulf.conf"
    fastq_screen_db_dir = '/data/CCBR_Pipeliner/db/PipeDB/lib/fastq_screen_db/'

    publish_dir_mode = 'link'
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = "/data/CCBR_Pipeliner/SIFs"
    envWhitelist='https_proxy,http_proxy,ftp_proxy,DISPLAY,SLURM_JOBID,SINGULARITY_BINDPATH'
}

env.SINGULARITY_CACHEDIR = "/data/CCBR_Pipeliner/SIFs"

process.clusterOptions = ' --gres=lscratch:200 '
process.scratch = '/lscratch/$SLURM_JOB_ID'
process.stageInMode = 'symlink'
process.stageOutMode = 'rsync'
// https://www.nextflow.io/docs/latest/reference/process.html#cache
process.cache = 'deep'
