params {
    config_profile_name = 'Test stubs'
    config_profile_description = 'Minimal test configuration to run stubs with continuous integration'

    input = 'hello world'
    outputDir = 'results/test'

    max_cpus = 2        // for GitHub Actions https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners#supported-runners-and-hardware-resources
    max_memory = '6.GB'
    max_time   = '6.h'

    publish_dir_mode = "symlink"
}

process {
    cpus = 1
    memory = '1.GB'
}
