
process {

    publishDir = [
        path: { task.label ? "${params.outdir}/${task.label.join('/')}/${task.process.tokenize(':')[-1].toLowerCase()}" : "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    cpus   = { check_max( 1    * task.attempt, 'cpus'   ) }
    memory = { check_max( 7.GB * task.attempt, 'memory' ) }
    time   = { check_max( 4.h  * task.attempt, 'time'   ) }
    errorStrategy = 'finish'

    withName: 'FASTQC.*' {
        container = 'nciccbr/ccrgb_qctools:latest'
        cpus = 4
    }
}
