params {
    config_profile_name = 'Slurm interactive node'
    max_memory = '224 GB'
    max_cpus = 32
    max_time = '72 h'
}
process {
    scratch = '/lscratch/$SLURM_JOBID'
}
singularity {
    enabled = true
    autoMounts = true
    cacheDir = "/data/$USER/.singularity"
    envWhitelist='https_proxy,http_proxy,ftp_proxy,DISPLAY,SLURM_JOBID,SINGULARITY_BINDPATH'
}
